body {
  font-family: Helvetica, Arial;
  margin: 0;
  text-align: center;
}

#nav {
  float: left;
  height: 100vh;
  background: black;
  width: 300px;
}

#videoPlayer {
  margin: auto;
  height: 100vh;
}

#loadVideos {
  color: #FFFFFF;
}

.video_tag {
  margin: 3px;
  color: #FFFFFF;
  display: inline-block;
  border: 1px solid white;
  width: auto;
  height: 20px;
}
